nav {
    position: fixed;
    height: 90px;
    width: 70%;
   left: 0;
   right: 0;
   margin-left: auto;
 margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    .logo{
        width: 92px;
        height: 42px;
        background-image: url(../images/logos/logo-white.png);

    }

    .links {
        height: 42px;
        width: 490px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    
}

